
/*---OVER ALL---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---BODY GENERAL---*/
body {
  min-height: 200vh;
  background-color: #ffffff;
}

/*---HEADER---*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  padding: 15px 60px;
  z-index: 100000;
}

header.sticky {
  padding: 20px 60px;
  background: #ffffff;
}

.logo img {
  position: relative;
  height: 65px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  font-family: "WWF Regular";
  font-size: 20px;
  color: #ffffff;
  transition: 0.2s;
}

header ul li a:hover {
  color: #FF7500;
}

.icons {
  display: flex;
  padding-left: 25%;
}

.icons img {
  height: 20px;
}

.search-icon {
  padding-right: 20px;
}

.header-buttons {
  display: flex;
}

.header-buttons a {
  display: inline-block;
  padding: 25px 20px;
  margin-left: 10px;
  background-color: #FF7500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "WWF Regular";
  font-size: 20px;
}

.header-buttons a:hover {
  background-color: #E56900;
}

.banner1.sticky {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
}

header.sticky ul li a {
  color: black;
}

header.sticky ul li a:hover {
  color: #FF7500;
}

/*---MAIN FORSIDE---*/

.hajbillede {
  width: 100vw;
  height: 100vh;
}

.hajsektion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hajoverskrift {
  position: absolute;
  color: white; 
  font-size:200px; 
  font-weight: bold; 
  z-index: 1; 
  font-family: "WWF Regular";
}

.hajbutton {
  position: absolute;
  margin-top: 600px; 
  padding: 30px 100px; 
  font-size: 30px; 
  background-color: transparent;
  color: white; 
  border: 2px solid white; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  font-family: "WWF Regular";
}

.hajbutton:hover {
  background-color: white; 
  color: black; 
}

/*---MAIN BLIV FRIVILLIG---*/

h1, h2 {
  font-family: "WWF Regular";
}

.billede-section { 
    
  display: flex;
  flex-direction: column;
  align-items: start;
  max-height: 100vh;
  padding: 300px 30px 0;
  font-size: 100px;
  font-weight: 400;
  color: #fff;
}

.forside2-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80%;

}

.billede-titel,
.billede-titel1 {
  position: relative;
  padding: 10px;
  background-color: #000;
  font-size: 70px;
}

.billede-titel {
  justify-content: center;
  margin-bottom: -90px;
}

.billede-titel1 {
  justify-content: center;

}

/* FRIVILLIG HOS WWF SEKTION */

.baggrund1 {
  background-color: #f3f3e9;
  padding: 80px 50px;
}

.frivillig-container {
  display: flex;
}

.frivillig-tekst {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  padding-top: 150px;
}

.titel3 {
  color: #000;
  font: 55px "WWF Regular", sans-serif;
}

.frivillig-beskrivelse {
  color: #000;
  margin-top: 20px;
  font: 20px "Open sans", sans-serif;
  width: 550px;
}

.buttons {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  font-size: 25px;
}

.frivillig-button {
  font-family: "WWF Regular", sans-serif;
  font-size: 25px;
  background-color: #ff7500;
  color: #fff;
  justify-content: center;
  padding: 13px 24px;
  border:none;
}

.frivillig-button:hover {
  background-color: #E56900;
}

.projekt-button {
  font-family: "WWF Regular", sans-serif;
  font-size: 25px;
  border: 3px solid #ff7500;
  background-color: transparent;
  color: #ff7500;
  justify-content: center;
  padding: 13px 34px;
}

.projekt-button:hover{
  background-color: #FF7500;
  color: #ffffff;
}

.frivillig-billede {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 650px;
  height: auto;
  margin-left: 100px;
  margin-top: 150px;
  padding-left: 150px;
}

/* MAP SEKTION OG ACCORDION SEKTION */

iframe {
  border: none;
  margin-right: 100px;
}

.projekter-kort {
  padding-left: 110px;
}

.titel4 {
  font-family: "WWF Regular", sans-serif;
  font-size: 27px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.projekter-siden {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  }
  
  .accordion {
    background-color: #FF7500;
    font-family: "WWF Regular";
    color: white;
    cursor: pointer;
    padding: 30px;
    width: 500px;
    text-align:center;
    border: none;
    font-size: 30px;
    transition: 0.4s;
    margin-bottom: 10px;
  }
  
  .active, .accordion:hover {
    background-color:#da6600; 
  }
  
  .panel {
    padding:  10px;
    background-color: white;
    overflow: hidden;
    width: 500px;
    margin-bottom: 20px;
    font-family: "Open sans", sans-serif;
  }
  
  .accordion-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

/* KONTAKT SEKTION */

.kontakt-section {
  background-color: #f3f3e9;
  display: flex;
  justify-content: center;
}

.kontakt-section2{
  width: 100%;
  max-width: 1037px;
}

.kontakt-indhold {
  display: flex;
  gap: 100px;
}

.kontakt-billede {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 42%;
  margin-left: 0;
  padding-top: 20px;
}


.kontakt-tekst{
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 60%;
  margin-left: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.kontakt-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.titel4 {
  font-family: "WWF Regular";
  font-size: 27px;
  padding-bottom: 20px;
}

.kontakt-beskrivelse {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}

.kontakt-detaljer {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
}


/* FORM SEKTION */

.tilmeld-dig {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2000px;

}

.træ-billede {
  position: absolute;
  inset: 0;
  height: 150%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.tilmeld-form{
  position: relative;
  background-color: #F3F3E9;
  display: flex;
  width: 800px;
  max-width: 100%;
  flex-direction: column;
  padding: 63px 80px 40px;
}

.titel6 {
  color: #000;
  align-self: center;
  font-size: 60px;
  font-family: "WWF Regular";
}

.tilmeld-beskrivelse {
  color: #000;
  margin-top: 61px;
  font: 400 20px "Open Sans", sans-serif;
}

.form-overskrift {
  align-self: start;
  display: flex;
}

.form-tekst {
  color: #000;
  flex-grow: 1;
  flex-basis: auto;
  font: 700 20px "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  margin: 25px 0 10px;
}
.stjerne {
  color: #f00;
  font: 400 20px "Open Sans", sans-serif;
  margin-left: 20px;
}
.felt-form {
  gap: 20px;
  display: flex;
  font-family: "Open Sans", sans-serif;
}
.afkrydsnings-felt {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
  margin-bottom: 25px ;
}

.felter {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  white-space: nowrap;
}

.samtykke {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
}

#questions {
  border: solid #CAC8AE 2px;
  height: 100px;
}

#consent {
  margin-bottom: 40px;
}

input {
  border: #CAC8AE solid 2px;
  height: 35px;
  margin-top: 20px;
}

input[type=checkbox] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background: white;
  accent-color: #CAC8AE;
}

/* STØT SEKTION */

.support-section {
  background-color: #ff7500;
  display: flex;
  font-weight: 400;
  text-align: center;

}

.support-content {
  display: flex;
  width: 100%;
  height: 400PX;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

.support-heading {
  color: #fff;
  font: 50px "WWF Regular", sans-serif;
  padding-bottom: 30px;
}

.support-options {
  display: flex;
  width: 450px;
  max-width: 100%;
  gap: 20px;
  font-size: 25px;
}

.support-monthly {
  font-family: WWF, sans-serif;
  font-size: 20px;
  border: solid #fff;
  background-color: #fff;
  align-items: center;
  color: #ff7500;
  justify-content: center;
  padding: 3px 50px;
}

.support-onetime {
  justify-content: center;
  flex-grow: 1;
  width: fit-content;
  font-family: "WWF Regular", sans-serif;
  font-size: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: WHITE;
  justify-content: center;
  padding: 13px;
}

.support-question {
  color: #fff;
  margin-top: 50px;
}

.support-question:hover {
  color: rgb(229, 229, 229);
}

/*---FOOTER---*/
.wwffooter {
  width: 100%;
  background-color: #000;
  color: #fff;
}

.topfooter {
  display: flex;
  padding: 30px 48px 30px 48px;
}

.footerliste {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  color: #F3F3E9;
}

.topfooter .kolonne .footerliste li {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 15px;
}

h3 {
  font-size: 25px;
  font-family: "WWF Regular";
}

.nyhedsbrevtext {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.nyhedsbrev {
    font-size: 25px;
    margin-bottom: 30px;
    font-family: "WWF Regular";
}

.kolonne {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  padding: 20px;
  margin-left: 40px;
}

.midtfooter {
  display: flex;
  margin-top: 30px;
}
  
.rightmidt {
    flex-grow: 1;
    max-width: 30%;
    margin-left: 50px;
}

.leftmidt {
    display: flex;
    justify-content: space-between; 
    margin-right: 50px;
    margin-left: 80px;
    margin-top: -80px;
    flex-grow: 1;
}

.leftmidt .button {
    background-color: #ffffff; 
    color: #bbbbbb; 
    border: 1px solid #ccc;
    text-align: left;
}
.leftmidt .buttonorange {
    background-color: #ff7500;
    color: #fff;
    border: none;
    font-family: "WWF Regular";
}

.leftmidt .button, .buttonorange {
    width: 270px;
    height: 70px;
    cursor: pointer; 
    margin-top: 150px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

}

.bundfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
    
}

.rightbund, .leftbund {
    display: flex;
}

.iconer {
    width: auto;
    height: 45px;
    margin-right: 40px;
}

.logotekstfooter {
    margin-left: 75px;
    font-family: "WWF Regular";
    font-size: 25px;
}

.logofooter {
    margin-left: 50px;
    width: 85px;
    height: 85px;
}

.scrollfooter {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.scroll-top-button {
    width: 75px;
    height: 75px;
    background-color: #ff7500;
    color: white;
    text-align: center;
    line-height: 150px; 
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 50px;
}

.cookie {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 10px;
}

/*------*/



